header{
    position: fixed;
    width: 100vw;
    padding-right: 10px;
    z-index: 10;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}


/* Cards css */
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

#programsList .cardsSection{
    display: flex;
    height: 80%;
    justify-content: space-between;
}

.card-text{
    margin: 1rem 0;
}


/* Programs content page */

.programsContent{
    margin: 0 auto;
    text-align: left;
    width: 80%;
}
