<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">EduSight</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
            <span></span>
            <span></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-between"
            id="navbarSupportedContent"
          >
            <ul
              class="d-flex align-items-center navbar-nav ml-auto mb-2 mb-lg-0"
            >
              <li class="nav-item">
                <a class="nav-link active" href="/views/landingPage/index.html"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Scholarships</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/views/forum/forum.html">Forum</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Blog</a>
              </li>
              <form action="/views/programs/programs.html" class="row ms-3">
                <div class="d-flex align-items-center col-auto">
                  <label for="inputPassword2" class="visually-hidden"
                    >Program Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="inputPassword2"
                    placeholder="Search for other programs"
                  />
                </div>
                <div class="d-flex align-items-center col-auto">
                  <button type="submit" class="btn btn-primary">Search</button>
                </div>
              </form>
            </ul>
          </ul>
          <div>
            <button type="button" class="btn btn-outline-light mx-2">
              Notifications <span class="badge bg-secondary">4</span>
            </button>
            <button type="button" class="btn btn-outline-light position-relative mx-2 mx-4 ">
              Inbox
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                99+
                <span class="visually-hidden">unread messages</span>
              </span>
            </button>
            John Doe
          </button>
        </a>
          </div>
          </div>
        </div>
      </nav>
    </header>

    <div class="pageMainContent">
      <section class="programsContent">
        <div class="px-4 py-3 my-5 text-left">
          <div class="col-lg-9 mx-auto mt-5">
            <!-- course details -->

            <h1 class="display-5 mt-5 fw-bold">Computer Science</h1>

            <div class="row mt-4">
              <div class="col-12 mb-4">
                <h3>About Course</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                  irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt
                  mollit anim id est laborum. Sed ut perspiciatis unde omnis
                  iste natus error sit voluptatem accusantium doloremque
                  laudantium, totam rem aperiam, eaque ipsa quae ab illo
                  inventore veritatis et quasi architecto beatae vitae dicta
                  sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                  aspernatur aut odit aut fugit, sed quia consequuntur magni
                  dolores eos qui ratione voluptatem sequi nesciunt. Neque porro
                  quisquam est, qui dolorem ipsum quia dolor sit amet,
                  consectetur, adipisci velit, sed quia non numquam eius modi
                  tempora incidunt ut labore et dolore magnam aliquam quaerat
                  voluptatem.
                </p>
              </div>
              <div class="col-12 mb-4">
                <h3 class="mb-3">Pre-requisites</h3>
                <div class="col-12 px-0">
                  <div class="row">
                    <div class="col-md-6">
                      <ul class="list-styled">
                        <li>
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit.
                        </li>
                        <li>
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit.
                        </li>
                        <li>
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit.
                        </li>
                        <li>
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit.
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-6">
                      <ul class="list-styled">
                        <li>
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit.
                        </li>
                        <li>
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit.
                        </li>
                        <li>
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit.
                        </li>
                        <li>
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit.
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 mb-4">
                <h3 class="mb-3">Career tracks</h3>
                <ul class="list-styled">
                  <li>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Recusandae obcaecati unde nulla? Lorem, ipsum dolor. Lorem,
                    ipsum.
                  </li>
                  <li>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Recusandae obcaecati unde nulla? Lorem, ipsum dolor. Lorem,
                    ipsum.
                  </li>
                  <li>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Recusandae obcaecati unde nulla? Lorem, ipsum dolor. Lorem,
                    ipsum.
                  </li>
                  <li>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Recusandae obcaecati unde nulla? Lorem, ipsum dolor. Lorem,
                    ipsum.
                  </li>
                  <li>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Recusandae obcaecati unde nulla? Lorem, ipsum dolor. Lorem,
                    ipsum.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="programsContent">
        <div class="px-4 py-3 my-5 text-left">
          <div class="col-lg-9 mx-auto">
            <h1 class="display-5 fw-bold">Colleges that offer this program</h1>

            <div class="cardsSection d-flex flex-wrap justify-content-between my-5">
                <div class="card text-center my-4" >
                  <div class="card-body px-5">
                    <span class="badge bg-warning text-light topBadge">Top 10</span>
                    <span class="badge btn btn-outline-secondary watchlist">Watchlist</span>
                    <img src="/assets/collegeLogos/harvard_university_logo.jpg" class="rounded img-fluid" alt="...">
                    <h5 class="card-title">Harvard University</h5>
                    <p class="card-text">Massachusetts, United States</p>
                    <div class="d-flex justify-content-between"> 
                        <p class="">High End</p>
                        <p class="">Scholarships Available</p>
                    </div>
                    <a href="#" class="btn btn-outline-primary">View Details</a>
                  </div>
                </div>
                <div class="card text-center my-4" >
                    <div class="card-body px-5">
                        <span class="badge bg-warning text-light topBadge">Top 10</span>
                        <span class="badge btn btn-outline-secondary watchlist">Watchlist</span>
                      <img src="/assets/collegeLogos/harvard_university_logo.jpg" class="rounded img-fluid" alt="...">
                      <h5 class="card-title">Harvard University</h5>
                      <p class="card-text">Massachusetts, United States</p>
                      <div class="d-flex justify-content-between"> 
                          <p class="">High End</p>
                          <p class="">Scholarships Available</p>
                      </div>
                      <a href="#" class="btn btn-outline-primary">View Details</a>
                    </div>
                  </div>
                <div class="card text-center my-4" >
                    <div class="card-body px-5">
                        <span class="badge bg-warning text-light topBadge">Top 10</span>
                        <span class="badge btn btn-outline-secondary watchlist">Watchlist</span>
                      <img src="/assets/collegeLogos/harvard_university_logo.jpg" class="rounded img-fluid" alt="...">
                      <h5 class="card-title">Harvard University</h5>
                      <p class="card-text">Massachusetts, United States</p>
                      <div class="d-flex justify-content-between"> 
                          <p class="">High End</p>
                          <p class="">Scholarships Available</p>
                      </div>
                      <a href="#" class="btn btn-outline-primary">View Details</a>
                    </div>
                  </div>
                <div class="card text-center my-4" >
                    <div class="card-body px-5">
                        <span class="badge bg-warning text-light topBadge">Top 10</span>
                        <span class="badge btn btn-outline-secondary watchlist">Watchlist</span>
                      <img src="/assets/collegeLogos/harvard_university_logo.jpg" class="rounded img-fluid" alt="...">
                      <h5 class="card-title">Harvard University</h5>
                      <p class="card-text">Massachusetts, United States</p>
                      <div class="d-flex justify-content-between"> 
                          <p class="">High End</p>
                          <p class="">Scholarships Available</p>
                      </div>
                      <a href="#" class="btn btn-outline-primary">View Details</a>
                    </div>
                  </div>
                <div class="card text-center my-4" >
                    <div class="card-body px-5">
                        <span class="badge bg-warning text-light topBadge">Top 10</span>
                        <span class="badge btn btn-outline-secondary watchlist">Watchlist</span>
                      <img src="/assets/collegeLogos/harvard_university_logo.jpg" class="rounded img-fluid" alt="...">
                      <h5 class="card-title">Harvard University</h5>
                      <p class="card-text">Massachusetts, United States</p>
                      <div class="d-flex justify-content-between"> 
                          <p class="">High End</p>
                          <p class="">Scholarships Available</p>
                      </div>
                      <a href="#" class="btn btn-outline-primary">View Details</a>
                    </div>
                  </div>
                  <div class="card text-center my-4" >
                    <div class="card-body px-5">
                        <span class="badge bg-warning text-light topBadge">Top 10</span>
                        <span class="badge btn btn-outline-secondary watchlist">Watchlist</span>
                      <img src="/assets/collegeLogos/harvard_university_logo.jpg" class="rounded img-fluid" alt="...">
                      <h5 class="card-title">Harvard University</h5>
                      <p class="card-text">Massachusetts, United States</p>
                      <div class="d-flex justify-content-between"> 
                          <p class="">High End</p>
                          <p class="">Scholarships Available</p>
                      </div>
                      <a href="#" class="btn btn-outline-primary">View Details</a>
                    </div>
                  </div>
              </div>
          </div>
        </div>
      </section>
    </div>

        <footer class="bg-dark text-center text-white">
      <!-- Grid container -->
      <div class="container p-4">
        <section class="mb-4">
          <p>
            EduSight is a platform that helps students get more clarity about
            their future in various programs
          </p>
        </section>

        <section class="">
          <form action="">
            <!--Grid row-->
            <div class="row d-flex justify-content-center">
              <!--Grid column-->
              <div class="col-auto">
                <p class="pt-2">
                  <strong>Sign up for our newsletter</strong>
                </p>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-5 col-12">
                <!-- Email input -->
                <div class="form-outline form-white mb-4">
                  <input
                    type="email"
                    id="form5Example21"
                    class="form-control"
                    placeholder="Enter your mail id"
                  />
                </div>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-auto">
                <!-- Submit button -->
                <button type="submit" class="btn btn-outline-light mb-4">
                  Subscribe
                </button>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </form>
        </section>

        <section class="">
          <!--Grid row-->
          <div class="row d-flex justify-content-around">
            <!--Grid column-->
            <div
              class="
                col-lg-3 col-md-10
                mb-4 mb-md-0
                d-flex
                flex-column
                justify-content-around
              "
            >
              <h5 class="text-uppercase">Links</h5>

              <ul class="list-unstyled mb-0 ">
                <li>
                  <a href="#!" class="text-white text-decoration-none">About Us</a>
                </li>
                <li>
                  <a href="#!" class="text-white text-decoration-none">FAQs</a>
                </li>
                <li>
                  <a href="#!" class="text-white text-decoration-none">LOR</a>
                </li>
                <li>
                  <a href="#!" class="text-white text-decoration-none">SOPs</a>
                </li>
              </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div
              class="
                col-lg-3 col-md-6
                mb-4 mb-md-0
                d-flex
                flex-column
                justify-content-between
              "
            >
              <h5 class="text-uppercase">External Links</h5>

              <ul class="list-unstyled mb-0 text-decoration-none">
                <li>
                  <a href="#!" class="text-white text-decoration-none">What is GRE?</a>
                </li>
                <li>
                  <a href="#!" class="text-white text-decoration-none">What is TOEFL?</a>
                </li>
                <li>
                  <a href="#!" class="text-white text-decoration-none">What is IELTS?</a>
                </li>
              </ul>
            </div>
          </div>
          <!--Grid row-->
        </section>
      </div>

      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        Made with 💙 by Dhruv, Yasvi, Bhoomika and Vishvas
      </div>
      <!-- Copyright -->
    </footer>

    <!-- bootstrap js -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
